@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  padding: 16px;
}

.container {
  border: red solid;
}

.colecciones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: flex-end;
  gap: 32px;
  padding-bottom: 32px;
}

.elementos-coleccion {
  padding: 32px;
  border: #212429 solid;
}

body {
  font-family: "Montserrat";
}

nav ul {
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding: 32px;
  list-style: none;
}

footer {
  padding: 32px;
  font-weight: 400;
  font-size: 16px;
  color: white;
  background-color: #212429;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-footer img {
  background-color: white;
  border-radius: 50%;
  padding: 8px;
}

.element-footer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  font-size: 16px;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #040404;
  border: none;
  margin: 8px;
}
